<div class="container">
  <div class="row">

    <!-- sidebar -->
    <div class="col-md-3 space20">
      <%= image_tag current_user.avatar.url(:medium), :class => "img-circle center-block av-style" %>

      <h4 class="text-center"><%= current_user.first_name %> <%= current_user.last_name %></h4>
      <h5 class="text-center"><%= @building.name %></h5>


      <a href="/buildings/<%= @building.id %>/residents" class="list-group-item"><span class="glyphicon glyphicon-user hspace10" aria-hidden="true"></span>Neighbors</a>
      <a href="/buildings/<%= current_user.building_id %>/pending" class="list-group-item"><span class="glyphicon glyphicon-time hspace10" aria-hidden="true"></span> Pending Requests</a>
      <a href="/buildings/<%= @building.id %>/event" class="list-group-item"><span class="glyphicon glyphicon-calendar hspace10" aria-hidden="true"></span>Events</a>
      <a href="/buildings/<%= @building.id %>/local_news" class="list-group-item"><span class="glyphicon glyphicon-leaf hspace10" aria-hidden="true"></span>Local</a>
      <a href="/buildings/<%= @building.id %>/classified" class="list-group-item"><span class="glyphicon glyphicon-shopping-cart hspace10" aria-hidden="true"></span>Classifieds</a>
      <a href="/buildings/<%= @building.id %>/odd_job" class="list-group-item"><span class="glyphicon glyphicon-wrench hspace10" aria-hidden="true"></span> Odd Jobs</a>
      <a href="/" class="list-group-item"><span class="glyphicon glyphicon-th hspace10" aria-hidden="true"></span> All Posts</a>


    </div>

    <!-- pending -->
    <div class="col-md-6">

      <% if @building.signups.count != 0 %>
        <table class="table table-condensed table-hover">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th></th>
          </tr>
            <% @building.signups.each do |signup| %>
            <tr>
              <td><%= User.find_by( id: signup.user_id).first_name %> <%= User.find_by( id: signup.user_id).last_name %></td>
              <td><%= User.find_by( id: signup.user_id).email %></td>
              <td><%= signup.status %></td>
              <td><a href="/signups/<%= signup.id %>/approve">Approve</a></td>
            </tr>
            <% end %>
        </table>
      <% else %>
        <center><h4>No pending signup requests.</h4></center>
      <% end %>

      </dl>






    </div>

  </div>
</div>
